.profile-wrapper{
  float: none;
  margin: auto;
  padding-top: 20px;

  .tab-content{
    border: 1px solid #dddddd;
    border-top: 0;
    border-bottom: 0;
  }

  .profile-info{
    float: none;
    margin: auto;
  }
}

.editability-header{
  margin: 0;
}

.panel-form{
  margin-bottom: 5px;
  margin-top: 5px;
}