html,
body,
.col-md-12{
  height: 95%;
}

body{
  margin-top: 50px;
}

.main-wrapper{
  float: none;
  height: 90%;
  margin: auto;
  max-width: 1080px;
  padding-top: 10px;

  .switch-view{
    font-size: 25px;

    .glyphicon-calendar:hover,
    .glyphicon-list-alt:hover{
      color: #ADD8E6;
      cursor: pointer;
    }
  }
}

/*********************************************************/
/* AGENDA*/
/*********************************************************/

.agenda-container{
  margin-top: 10px;
}

/*********************************************************/
/* NEW TASKS */
/*********************************************************/
.help:hover{ cursor: help ;}

.task-labels-container{
  padding: 0;
  .well{
    padding: 0;

    h1{
      margin: 0;
    }
  }
}

.task-label{
  float: left;
  width: 20%;
  height: 60px;
}

.task-label:hover{
  cursor: pointer;
}

.P, .task-label-0{
  background-color: #dc5950 ;
  border: 1px solid #dc5950 ;
}
.NC, .task-label-1{ background-color: #d8d03f ;}
.AC, .task-label-2{ background-color: #61b3df ;}
.AP, .task-label-3{ background-color: #72e277 ;}
.LOL, .task-label-4{ background-color: #bc83e6 ;}

/*********************************************************/
/* MODAL FOR AGENDA  */
/*********************************************************/

.modal-header{
  border-bottom: 5px solid #e5e5e5;
}

.blue-ribbon{
  border-bottom-color: blue;
}

.left-wrapper{
  .deadline{
    padding: 10px 0;
    border-bottom: 1px solid green;
  }

  .task-status{

    width: 100%;
    display: table;
    border-bottom: 1px solid green;

    .assigned,
    .priority,
    .status{
      float: left;
      width: 33.333333%;
    }

    .assigned{

    }

    .priority{
    }

    .status{
      border-left: 1px solid green;
      border-right: 1px solid green;
    }
  }
}