.panel( class = 'panel-{{editability.status}}' )
  .panel-heading
    h4.editability-header
      span.pull-right.glyphicon( ng-click = 'toogleEditable("personal")', 
       class = 'glyphicon-{{editability.icon}} text-{{editability.status}}' )
    span.clearfix
  .panel-body
    form( name = '' )
      .col-md-6
        label.panel-form Usuario
        input.form-control( disabled, type = 'text', ng-model = 'employee.username' )
        label.panel-form Nombre
        input.form-control( ng-disabled = '!editability.bool', type = 'text',
          ng-model = 'employee.name' )
        label.panel-form Apellido paterno
        input.form-control( ng-disabled = '!editability.bool', type = 'text',
          ng-model = 'employee.last_father_name' )
        label.panel-form Apellido materno
        input.form-control( ng-disabled = '!editability.bool', type = 'text',
          ng-model = 'employee.last_mother_name' )

      .col-md-6
        label.panel-form Correo
        input.form-control( ng-disabled = '!editability.bool', type = 'mail',
          ng-model = 'employee.mail' )
        label.panel-form Fecha de nacimiento
        input.form-control( ng-disabled = '!editability.bool', type = 'date',
          ng-model = 'employee.date_of_birth' )
        label.panel-form Dirección
        input.form-control( ng-disabled = '!editability.bool', type = 'text',
          ng-model = 'employee.address' )
        label.panel-form Teléfono
        input.form-control( ng-disabled = '!editability.bool', type = 'text',
          ng-model = 'employee.phone' )

        br
        button.btn.btn-info.btn-block( ng-disabled = '!editability.bool',
          ng-click = 'updateEmployee()' ) 
          |Actualizar