.panel( class = 'panel-{{editability.status}}' )
  .panel-heading
    h4.editability-header
      span.pull-right.glyphicon( ng-click = 'toogleEditable("personal")', 
       class = 'glyphicon-{{editability.icon}} text-{{editability.status}}' )
    span.clearfix
  .panel-body
    form( name = 'updateEmployee' )
      .col-md-6
        label.panel-form Usuario
        div
          input.form-control( disabled, type = 'text', ng-model = 'employee.username' )
        label.panel-form Nombre
        div
          input.form-control( ng-disabled = '!editability.bool', type = 'text',
            ng-model = 'employee.name', rd-Validation, vText = 'Coloca un valor válido',
            validationtype = 'text')
        label.panel-form Apellido paterno
        div
          input.form-control( ng-disabled = '!editability.bool', type = 'text',
            rd-Validation, vText = 'Coloca un valor válido',
            validationtype = 'text', ng-model = 'employee.last_father_name' )
        label.panel-form Apellido materno
        div
          input.form-control( ng-disabled = '!editability.bool', type = 'text',
            rd-Validation, vText = 'Coloca un valor válido',
            validationtype = 'text', ng-model = 'employee.last_mother_name' )

      .col-md-6
        label.panel-form Correo
        div
          input.form-control( ng-disabled = '!editability.bool', type = 'mail',
          ng-model = 'employee.mail', rd-Validation, vText = 'Coloca un valor válido',
            validationtype = 'mail')
        label.panel-form Fecha de nacimiento
        div
          input.form-control( ng-disabled = '!editability.bool', type = 'date',
          ng-model = 'employee.date_of_birth', rd-Validation,
          vText = 'value', validationtype = 'birthday' )
        label.panel-form Dirección
        div
          input.form-control( ng-disabled = '!editability.bool', type = 'text',
          ng-model = 'employee.address', rd-Validation, vText = 'Coloca un valor válido',
            validationtype = 'alphanumeric' )
        label.panel-form Teléfono
        div
          input.form-control( ng-disabled = '!editability.bool', type = 'text',
          ng-model = 'employee.phone',rd-Validation, vText = 'Coloca un valor válido',
            validationtype = 'number' )

        br
        button.btn.btn-info.btn-block( ng-disabled = '!editability.bool || updateEmployee.$invalid',
          ng-click = 'updateEmployee()' ) 
          |Actualizar