html
  head
    meta(charset='utf-8')
    title Mocha Tests
    link(rel='stylesheet', href='mocha.css')
  body
    #mocha
    script(src='jquery.js')
    script(src='expect.js')
    script(src='mocha.js')
    script
      mocha.setup('bdd')
    script(src='test.array.js')
    script(src='test.object.js')
    script(src='test.xhr.js')
    script
      mocha.checkLeaks();
      mocha.globals(['jQuery']);
      mocha.run();
