extends ../layout

block  custom-stylesheets
  link( rel='stylesheet', href='/stylesheets/own/responsive-table.css' )

block content

  .page-wrap
    br
    h3 Recursos

    .form-search.text-right.form-table-filter
      .glyphicon.glyphicon-plus-sign
      .glyphicon.glyphicon-trash
      .input-group.col-lg-3.pull-right
        .input-group-addon 
          .glyphicon.glyphicon-search
        input.form-control(placeholder="Buscar Articulo",data-rd-table="resource-table")#input-table-filter
      .breaker

    table.table-striped#resource-table
      thead
        tr
          th Nombre
          th Marca
          th Modelo
          th Descripción
          th Locación
          th Número Serial
          th Factura
            //-asdasdasds
            .glyphicon.glyphicon-barcode
      
      tbody
        tr
          td.name Microscopio
          td.brand Samsumg
          td.model 098
          td.description Bonito y guapo esta esto
          td.location Departamento de Ventas
          td.serialNumber 123456
          td.launch-modal-preview
            a(data-toggle='modal', href='#myModal')
              span.glyphicon.glyphicon-save

        tr
          td.name Celular Samsumg Galaxy S4
          td.brand Samsumg
          td.model i9500
          td.description Bonito de color blanco tiene air gesture
          td.location Departamento de Marketing
          td.serialNumber 257493748
          td.launch-modal-preview
            a(data-toggle='modal', href='#myModal')
              span.glyphicon.glyphicon-save        

        tr
          td.name Iphone 5
          td.brand Apple
          td.model 1
          td.description El mismo de todos los tiempos solo cada vez más largo
          td.location Departamento de Baños
          td.serialNumber 235983409
          td.launch-modal-preview
            a(data-toggle='modal', href='#myModal')
              span.glyphicon.glyphicon-save

        tr
          td.name Indestructible
          td.brand Nokia
          td.model 1100
          td.description Ya no se usa pero no se puede destruir todos los intentos han fallado
          td.location Departamento de Milicia
          td.serialNumber 758
          td.launch-modal-preview
            a(data-toggle='modal', href='#myModal')
              span.glyphicon.glyphicon-save            

  .page-wrap
    .row
      .span8
        form.form-horizontal(action="")

block custom-scripts
  script(src='/javascripts/render/table-filter.js')
