.agenda-container.clearfix
  .table-responsive
    table.table.table-hover#tasks-table
      thead
        tr
          th nombre
          th identidad
          th juego
      tbody
        tr
          td James
          td Matman
          td Chief Sandwich Eater

        tr
          td Juan
          td lolazo
          td rofl

        tr
          td James
          td Matman
          td Chief Sandwich Eater

        tr
          td Juan
          td lolazo
          td rofl
        tr
          td pANCHO
          td GANZO
          td DATO
        tr
          td PATO
          td LOL
          td ASDF
