extends layout

block custom-stylesheets
  link( rel='stylesheet', href='/stylesheets/own/login.css')

block content
  .container( ng-app = 'loginApp' )
    .row
      .col-sm-6.col-md-4.col-md-offset-4
        .account-wall
          img.profile-img( src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', alt='')
          form.form-signin( ng-controller = controller, 
            name = 'formLogin', novalidate )
            input.form-control( ng-model = 'user.user', name = 'userName',
              placeholder = 'Usuario', type = 'text', autofocus = 'autofocus', 
              required)
            input.form-control( ng-model = 'user.password', type = 'password',
              placeholder = 'Contraseña', required )
            button.btn.btn-lg.btn-primary.btn-block( ng-click = 'login()',
              ng-disabled = 'formLogin.$invalid' )
              | Iniciar sesión
            span.clearfix

block custom-scripts
  script( src='/javascripts/own/controllers/loginControllers.js')