doctype 5
html
  head
    title Paraiso
    block stylesheets
      link( rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.css' )
      link( rel='stylesheet', href='/stylesheets/own/index.css' )
      link( rel='stylesheet', href='/stylesheets/own/side-menu.css' )
      link( rel='stylesheet', href='/stylesheets/own/shame.css' )
      link( rel='stylesheet', href='/javascripts/vendor/sidr/stylesheets/jquery.sidr.light.css' )
    block custom-stylesheets
  body
    block main-navbar

    block content

    include side_menu

    block scripts

      script( src='/javascripts/vendor/jquery/jquery.min.js' )
      script( src='/javascripts/vendor/angular/angular.min.js' )
      script( src='/javascripts/vendor/bootstrap/bootstrap.js' )
      script( src='/javascripts/vendor/bootstrap/modal.js' )
      script( src='/javascripts/own/sidr-functions.js' )
      script( src='/javascripts/own/resources-table-functions.js' )
      script( src='/javascripts/own/control-panel.js' )
      script( src='/javascripts/vendor/sidr/jquery.sidr.min.js' )
      //-
        In this script are functions to contruct simple jquery stuff (tooltips,
        etc.)
      script( src='/javascripts/render/behavior.js' )
    
    block custom-scripts