doctype 5
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
      link(href='http://fonts.googleapis.com/css?family=Oswald',rel='stylesheet', 
      type='text/css')      
      link(rel='stylesheet', href='/stylesheets/own/index.css')
      link(rel='stylesheet', href='/stylesheets/own/responsive-table.css')
      link(rel='stylesheet', href='/stylesheets/own/side-menu.css')
      link(rel='stylesheet', href='/javascripts/sidr/stylesheets/jquery.sidr.light.css')
    block custom-stylesheets
  body
    block content

    include main-navbar

    include side-menu

    block scripts      
      script(src='/javascripts/jquery/jquery.min.js')
      script(src='/javascripts/sidr/jquery.sidr.min.js')
      script(src='/javascripts/bootstrap/bootstrap.js')
      script(src='/javascripts/bootstrap/modal.js')
      script(src='/javascripts/own/sidr-functions.js')
      script(src='/javascripts/own/resources-table-functions.js')
      script(src='/javascripts/own/table-filter.js')
    
    block custom-scripts