header.navbar-default.navbar-fixed-top.bs-docs-nav(role='banner')
  .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand#side-menu-trigger(href='#side-menu') Menú
      nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
        ul.nav.navbar-nav
<<<<<<< HEAD
          li.dropdown
            a.dropdown-toggle(href='', data-toggle="dropdown") Talento Humano 
              b.caret
            ul.dropdown-menu
              li
                a(href='') Listado
              li
                a(href='') Nuevo
              li
                a(href='') Otra opción
          li.dropdown
            a.dropdown-toggle(href='', data-toggle="dropdown") Departamentos 
              b.caret
            ul.dropdown-menu
              li
                a(href='') Listado
              li
                a(href='') Nuevo
              li
                a(href='') Otra opción
=======
          li.active
            a(href='') Getting started
          li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown") Dropdown 
                b.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#") Action
                li: a(href="#") Another action
                li: a(href="#") Something else here
                li: a(href="#") Separated link
                li: a(href="#") One more separated link
>>>>>>> amet
