header.navbar.navbar-fixed-top.bs-docs-nav(role='banner')
  .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand#side-menu-trigger(href='#side-menu') Menú
      nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
        ul.nav.navbar-nav
          li.active
            a(href='') Getting started