#side-menu.side-menu.hidden
  ul
    a( href='/' )
      li.glyphicon-home &nbsp;Inicio
    a( href='/organization/employees/management' )
      li.glyphicon-th &nbsp;Estructura Organizacional
    a( href='' )
      li.glyphicon-refresh &nbsp;Procesos
    a( href='' )
      li.glyphicon-folder-open &nbsp;Documentación
    a(href='/control-panel/permissions')
      li.glyphicon-wrench &nbsp;Panel de Control
    a(href='/tasks/all')
      li.glyphicon-edit &nbsp;Tareas y pendientes
    a(href='/resources')
      li.glyphicon-globe &nbsp;Recursos
    a(href='/forms/new_form')
      li.glyphicon-list-alt &nbsp;Formularios
    a(href='/extras/send_mail')
      li.glyphicon-plus &nbsp;Extras
    a(href='/forms_generator/custom_form')
      li.glyphicon-list-alt &nbsp;Formularios