header.navbar-default.navbar-fixed-top.bs-docs-nav.clearfix(role='banner')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse',
                           data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand#side-menu-trigger(href='#side-menu') Menú
    .pull-right
      nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(href='', data-toggle="dropdown")
              span.glyphicon.glyphicon-user#username
              | &nbsp;&nbsp; #{ currentUser } &nbsp;&nbsp;
              b.caret
              script.
                var user = '#{currentUser}';
            ul.dropdown-menu#App1( ng-controller = 'NotificationsController' )
              li
                a(href) Configuración de la cuenta
              li
                a(href, ng-click = 'tasksAssigned()') Tareas Asignadas
                  span.badge.pull-right( ng-bind = 'i' )
              li
                a(href, ng-click = 'taskToRevision()') Tareas a revisar
                  span.badge.pull-right( ng-bind = 'j' )
              li.divider
              li
                a(href, ng-click ='logout()') Cerrar Sesión
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.nav.navbar-nav
        block custom-navigation