extends navbar

block custom-navigation
  li
    a( href = '/organization/employees/management') Talento Humano
  li.dropdown
    a.dropdown-toggle( data-toggle='dropdown',  href = '#' ) Departmentos&nbsp;
        span.caret
      ul.dropdown-menu
        li
          a( href = '/organization/departments/management') 
            |Gestionar Departmentos
        li
          a( href = '/organization/departments/chart') 
            |Ver gráfica
  li.dropdown
    a.dropdown-toggle( data-toggle='dropdown',  href = '#' ) Puestos&nbsp;
        span.caret
      ul.dropdown-menu
        li
          a( href = '/organization/employments/management') 
            |Gestionar Puestos
        li
          a( href = '/organization/employments/tree') 
            |Ver árbol