.col-md-4
  .input-group.input-group
    span.input-group-addon.glyphicon.glyphicon-search
    input.form-control.input( ng-model = 'query')
.col-md-4.pull-right.text-right.switch-view
  span.glyphicon.glyphicon-calendar
  | &nbsp;|&nbsp;
  span.glyphicon.glyphicon-list-alt
span.clearfix

include agenda