extends ../layout

block custom-stylesheets

block main-navbar

block content
  div( ng-app = 'documentationApp', ng-controller = controller )

block custom-scripts
  script( src='/javascripts/own/controllers/UploadDocumentsController.js')