#list.agenda-container.clearfix
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Título
          th Descripción
          th Responsables
          th Fecha límite
      tbody
        tr( ng-repeat = 'task in tasks | filter:query')
          td( ng-bind = 'task.title')
          td( ng-bind = 'task.description')
          td( ng-bind = 'task.assigned')
          td( ng-bind = 'task.deadline | date:"dd/MM/yyyy"')
          td.text-center
            a(data-toggle='modal', href='#taskView', ng-click='callOfDuty()') 
              span.glyphicon.glyphicon-expand 