.agenda-container.clearfix( ng-controller = controller )
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Título
            th Descripción
          th Responsables
          th Fecha límite
      tbody
        tr( ng-repeat = 'task in tasks | filter:query')
          td( ng-bind = 'task.title')
          td( ng-bind = 'task.description')
          td( ng-bind = 'task.assigned')
          td( ng-bind = 'task.deadline | date:"dd/MM/yyyy"')
          td.text-center
            a(data-toggle='modal', href='#taskView', ng-click='callOfDuty()') 
              span.glyphicon.glyphicon-expand 

  #taskView.modal.fade(tabindex='-1', role='dialog', 
    aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header( class = '{{duty.label}}-ribbon')
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .text-center
              h3.modal-title( ng-bind = 'duty.title')
              span Creado por: 
              strong( ng-bind = 'duty.creator') 
              | &nbsp;el {{duty.creation_date | date:'dd/MM/yyyy'}}
          .modal-body
            .col-md-4.left-wrapper.text-center
              .task-status
                .priority( ng-bind = 'duty.priority')
                .status( ng-bind = 'duty.status')
                .assigned( ng-bind = 'duty.assigned')
              div.deadline( ng-bind = 'duty.deadline | date:"dd/MM/yyyy"')
              div.deadline Restan: {{duty.daysToDeadline}} días.
            .col-md-8.right-wrapper
              div( ng-bind = 'duty.description')
          p.clearfix