extends ../layout

block custom-stylesheets
  link(rel='stylesheet', href='/stylesheets/own/tasks.css')
  link(rel='stylesheet', href='/stylesheets/render/calendar.css')

block main-navbar
  include ../navbars/tasks_navbar

block content
  .col-md-12( ng-app='taskApp' )
    .col-md-11.main-wrapper
      .col-md-8
        form
          .input-group.input-group-lg
            span.input-group-addon Título
            input.form-input.input-lg( placeholder = 'Título de la tarea' )
        p.shame.clearfix
        .col-xs-6
          .input-group.input-group
            span.input-group-addon Creado por
            input.form-input( disabled, placeholder = 'Daniel' )
        .col-xs-6
          .input-group.input-group
            span.input-group-addon en
            input.form-input( disabled, placeholder = '18/07/1994' )
          br
          textarea.form-control( rows="10", placeholder = 'Descripción de la tarea' )
          br
          - for(var i=0; i<5; i++)
            .label-color(class = 'label' + i, ng-click='selectLabel')

      .col-md-4
        include calendar

block custom-scripts
  script(src='/javascripts/render/calendar.js')
  script(src='/javascripts/own/controllers/tasksControllers.js')