extends ../layout

block custom-stylesheets
  link( rel='stylesheet', href='/stylesheets/own/tasks.css')
  link( rel='stylesheet', href='/stylesheets/render/calendar.css')

block main-navbar
  include ../navbars/tasks_navbar

block content
  .col-md-12( ng-app='taskApp' )
    //- NewTaskController
    .col-md-11.main-wrapper( ng-controller = controller ) 
      .col-md-4
        include calendar
      .col-md-8
        include forms/new_task_form

block custom-scripts
  script( src='/javascripts/render/calendar.js')
  script( src='/javascripts/bootstrap/collapse.js')
  script( src='/javascripts/bootstrap/transition.js')
  script( src='/javascripts/own/task-behavior.js')
  script( src='/javascripts/own/services/tasksServices.js')
  script( src='/javascripts/own/services/usersServices.js')
  script( src='/javascripts/own/controllers/tasksControllers.js')