extends ../layout

block custom-stylesheets
  link( rel='stylesheet', href='/stylesheets/own/tasks.css')
  link( rel='stylesheet', href='/stylesheets/render/calendar.css')

block main-navbar
  include ../navbars/tasks_navbar

block content
  .col-md-12( ng-app='taskApp' )
    //- NewTaskController
    .col-md-11.main-wrapper( ng-controller = controller ) 
      .col-md-4
        include calendar
      .col-md-8
        include forms/new_task_form
block custom-scripts
  script( src='/javascripts/vendor/fullcalendar/fullcalendar.js')
  script( src='/javascripts/vendor/bootstrap/tooltip.js')
  script( src='/javascripts/vendor/jquery-ui/ui/jquery-ui.js')
  script( src='/javascripts/render/calendar.js')
  script( src='/javascripts/own/task-behavior.js')
  script( src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js')
  script( src='/javascripts/own/services/usersServices.js')
  script( src='/javascripts/own/services/tasksServices.js')
  script( src='/javascripts/own/services/calendar.js')
  script( src='/javascripts/own/directives/validation.js')
  script( src='/javascripts/own/controllers/tasksController.js')
  script( src='/javascripts/own/controllers/myTasksController.js')
  script( src='/javascripts/own/controllers/newTaskController.js')
  script( src='/javascripts/own/controllers/calendarController.js')

  script( src='/javascripts/own/apps/tasksApp.js')
