extends ../layout

block custom-stylesheets
  link( rel='stylesheet', href='/stylesheets/own/tasks.css')
  link( rel='stylesheet', href='/stylesheets/render/calendar.css')

block main-navbar
  include ../navbars/tasks_navbar

block content
  .col-md-12( ng-app='taskApp' )
    .col-md-11.main-wrapper( ng-view )

block custom-scripts
  script( src='/javascripts/render/calendar.js')
  script( src='/javascripts/own/controllers/tasksControllers.js')