extends ../layout

block custom-stylesheets
  link( rel='stylesheet', href='/stylesheets/own/tasks.css')
  link( rel='stylesheet', href='/stylesheets/own/tasksCalendar.css')
  link( rel='stylesheet', href='/stylesheets/render/calendar.css')
  link( rel="stylesheet", href='/stylesheets/vendor/fullCalendar.css')

block main-navbar
  include ../navbars/tasks_navbar

block content
  .col-md-12( ng-app = 'taskApp')
    .col-md-11.main-wrapper(ng-controller = controller)
      .col-md-4
        .input-group
          span.input-group-addon.glyphicon.glyphicon-search
          input.form-control.input( ng-model = 'query')
      .agenda-container
        .table-responsive
          table.table.table-hover.table-striped
            thead
              tr
                th Título
                th Descripción
                th Responsables
                th Fecha límite
            tbody
              tr( ng-repeat = 'task in tasks')
                td( ng-bind = 'task.title')
                td( ng-bind = 'task.description')
                td( ng-bind = 'task.assigned')
                td( ng-bind = 'task.deadline | date:"dd/MM/yyyy"')
                td.text-center
                  a(data-toggle='modal', href='#taskDescription', ng-click='callOfDuty()') 
                    span.glyphicon.glyphicon-expand 
      #taskDescription.modal.fade(tabindex='-1', role='dialog', 
        aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header( class = '{{duty.label}}-ribbon')
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Descripcion de la tarea
                  span#special {{duty.label}}
                  .pageheader
                    h1
                      span( ng-bind = 'duty.title')
                    .label.label-default.pull-right Desde el {{duty.creation_date | date:'dd/MM/yyyy'}}
                    span.glyphicon.glyphicon-eye-open.pull-left(
                        ng-click = 'viewRevisionsForTask()',class = 'viewEye',
                        ng-show = 'duty.status != "No realizada"')
              .modal-body
                #TaskComments.panel.panel-default( hidden )
                  .panel-heading Comentarios de la tarea
                    .panel-body
                      span.glyphicon.glyphicon-eye-close.pull-right(
                        ng-click = 'viewRevisions()')
                      ul.list-group
                        li.list-group-item(ng-repeat='comment in duty.comments')
                          div.toped
                            small.text-info.pull-right(ng-bind = 'comment.date | date:"dd/MM/yyyy"')
                            small.pull-right - 
                            small.pull-right( ng-bind = 'comment.user')
                          div.bottomed(ng-show = 'comment.subtask.length > 0')
                            small.pull-right( ng-bind = 'comment.subtask')
                            small.pull-right Subtarea -
                          span( ng-bind = 'comment.comment')
                #TaskStatus.panel.panel-default
                  ul.list-group
                    li.list-group-item Prioridad
                      span.label.pull-right.label-success {{duty.priority}}
                    li.list-group-item Estado de la tarea
                      span.label.pull-right.label-primary(ng-bind = 'duty.status')
                    li.list-group-item Asignada por 
                      span.label.pull-right.label-info(ng-bind = 'duty.creator')
                    li.list-group-item(ng-show = 'duty.subTasks.length > 0')
                      | Porcentaje de la tarea realizada
                      span.label.pull-right.label-info(ng-bind = 'duty.percentageDone')
                      .progress
                        .progress-bar(ng-repeat='progress in subtaskprogress' style='width: {{progress.percent}}%;',
                          class ='progress-bar-{{progress.status}}')
                          span {{progress.tarea}}
                    li.list-group-item Responsables
                      span.label.pull-right.label-info(ng-bind = 'duty.assigned')
                    li.list-group-item Fecha de fin
                      span.label.pull-right.label-warning(
                        ng-bind = 'duty.deadline | date:"dd/MM/yyyy"')
                    li.list-group-item Días restantes
                      span.label.pull-right.label-danger {{duty.daysToDeadline}}
                    li.list-group-item
                      h5.list-group-item-heading Descripción
                      p( ng-bind = 'duty.description')
                    li.list-group-item(ng-show = '!duty.subTasks.length > 0')
                      |Comentario
                      div
                        form( name = 'RevisionTask')
                          input.form-control(ng-model = 'comment',
                          placeholder = 'Comentario para {{duty.title}}',
                          , required, rd-Validation, vText = 'Coloca un valor válido',
                          validationtype = 'alphanumeric')
                    #Panel.panel-heading(ng-show = 'duty.subTasks.length > 0') Subtareas
                    #subTasks.panel-body(ng-show = 'duty.subTasks.length > 0')
                      ul.list-group
                        li.list-group-item(ng-repeat='subtask in duty.subTasks',
                          ng-click = 'sendToRevision($index)')
                          span.glyphicon.glyphicon-chevron-left.pull-right(
                            ng-click = 'previewRevision($index)', class='arrow{{$index}}',
                            ng-show = 'subtask.status == "En revisión"')
                          div(class='size')
                            div(id='{{$index}}view')
                              div
                                span( ng-bind = 'subtask.title')
                                span.label.label-default(ng-bind = 'subtask.assigned')
                                span.label.label-warning(ng-bind = 'subtask.status')
                            div(id='{{$index}}coment', hidden)
                              div Comentario:
                                form( name = 'RevisionSubTask')
                                  div
                                    input.form-control(ng-model = 'subtask.comment',
                                      placeholder = 'Comentario para {{subtask.title}}',
                                      required, rd-Validation, vText = 'Coloca un valor válido',
                                      validationtype = 'alphanumeric')
                                  .btn-group.btn-group-xs.pull-right
                                    button.text-center.btn.btn-primary( ng-click='taskUpdatesubTaskDone( duty )',
                                      ng-show = 'subtask.status == "En revisión"',
                                      ng-disabled='RevisionSubTask.$invalid')
                                      |Aceptar Tarea
                                    button.text-center.btn.btn-danger(
                                      ng-click='invalidsubTask( duty )',
                                      ng-show = 'subtask.status == "En revisión"',
                                      ng-disabled='RevisionSubTask.$invalid')
                                      |Denegar Tarea
                                  br

block custom-scripts
  script( src='/javascripts/vendor/bootstrap/ui-bootstrap-tpls-0.9.0.js')
  script( src='/javascripts/vendor/jquery-ui/ui/jquery-ui.js' )
  script( src='/javascripts/render/calendar.js')
  script( src='/javascripts/own/directives/validation.js')
  script( src='/javascripts/own/directives/autocomplete.js')
  script( src='/javascripts/own/services/usersServices.js')
  script( src='/javascripts/own/services/tasksServices.js')
  script( src='/javascripts/own/services/calendar.js')
  script( src='/javascripts/own/controllers/tasksController.js')
  script( src='/javascripts/own/controllers/myTasksController.js')
  script( src='/javascripts/own/controllers/newTaskController.js')
  script( src='/javascripts/own/controllers/calendarController.js')
  script( src='/javascripts/own/services/mailServices.js')
  script( src='/javascripts/own/controllers/toRevisionController.js')
  script( src='/javascripts/own/apps/tasksApp.js')