#accordion.panel-group
  .panel( ng-repeat = 'module in permission.permissions', 
    class = 'panel-{{module.status}}' )
    .panel-heading
      h4.panel-title
        span( ng-bind = 'module.label' )
        input.pull-right( type = 'checkbox', 
          ng-checked = 'checkStatus( module.status )' )
        a.pull-left(data-toggle='collapse', data-parent='#accordion',
          href = '#{{module.module}}')
          span.glyphicon.glyphicon-chevron-down &nbsp;
    .panel-collapse.collapse( id = '{{module.module}}' )
      .panel-body
        .input-group( ng-repeat = 'action in module.actions' )
          span.form-control( ng-bind = 'action.label' )
          span.input-group-addon
            input( type = 'checkbox', ng-checked = 'action.value' )