extends ../layout

block custom-stylesheets
  link( rel='stylesheet', href='/stylesheets/own/control-panel.css')

block main-navbar
  include ../navbars/control_panel_navbar

block content
  .col-md-12( ng-app = 'controlPanelApp', ng-controller = controller )
    .form-search
      .input-group.col-md-3.pull-right
        span.input-group-addon 
          span.glyphicon.glyphicon-search
        input.form-control.input( ng-model = 'query' )

    table.table.table-striped
      thead
        tr
          th Usuario
          th Permisos
          th.text-center
            span.glyphicon.glyphicon-check
      tbody.permission-table
        tr( ng-repeat = 'permission in permissions | filter:query' )
          td( ng-bind = 'permission.username' )
          td
            span.label( ng-repeat = 'module in permission.permissions',
              class = 'label-{{module.status}}', ng-bind = 'module.label' )
          td.text-center.launch-modal-preview
            a( data-toggle='modal', href='#permissions',
              ng-click = 'getPermissions()' )
              span.glyphicon.glyphicon-check

    #permissions.modal.fade( tabindex='-1', role='dialog', aria-hidden='true' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h1.modal-title( ng-bind = 'permission.username' )
          .modal-body
            include permission_collapsables
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal' ,
              aria-hidden="true")
              | Cancelar
            button.btn.btn-info( data-dismiss='modal', 
              ng-click = 'updatePermissions()' ) Aceptar

block custom-scripts
  script( src='/javascripts/own/services/permissionsServices.js')
  script( src='/javascripts/own/controllers/controlPanelControllers.js')