doctype 5
html
  head
    title Paraiso
    block stylesheets

      link(href='/javascripts/forms_generator/assets/css/lib/bootstrap.min.css', rel='stylesheet')
      link(href='/javascripts/forms_generator/assets/css/lib/bootstrap-responsive.min.css', rel='stylesheet')
      link(href='/javascripts/forms_generator/assets/css/custom.css', rel='stylesheet')
    block custom-stylesheets

  body
    .container
      include ../extras/builder_menu
      .row.clearfix
        .span6
          .clearfix
            h2 Tu forma
            hr
            #build
              form#target.form-horizontal
        .span6
          h2 Drag & Drop 
          hr
          .tabbable
            ul#formtabs.nav.nav-tabs
            form#components.form-horizontal
              fieldset
                .tab-content

    script( src='/javascripts/vendor/jquery/jquery.min.js' )
    script( src='/javascripts/vendor/angular/angular.min.js' )
    script( src='/javascripts/vendor/bootstrap/bootstrap.js' )
    script( src='/javascripts/vendor/bootstrap/modal.js' )
    script( src='/javascripts/vendor/sidr/jquery.sidr.min.js' )
    script( src='/javascripts/own/sidr-functions.js' )
    script( src='/javascripts/own/resources-table-functions.js' )
    script( src='/javascripts/own/control-panel.js' )
    //-
      In this script are functions to contruct simple jquery stuff (tooltips,
      etc.)
    script( src='/javascripts/render/behavior.js' )

    script(data-main='/javascripts/forms_generator/assets/js/main-built.js', 
      src='/javascripts/forms_generator/assets/js/lib/require.js')