extends ../organizational_structure_layout

block custom-stylesheets
  link(rel='stylesheet', href='/stylesheets/own/talent_profile.css')

block content
  .col-md-12.profile-wrapper( ng-app = 'organizationalStructureApp', 
    ng-controller = controller, ng-init = 'init("#{username}")')
    .col-md-3.text-center
      img.img-rounded.profile-pic(src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=180")
      h3
        span( ng-bind = 'employee.name' )
        br
        span( ng-bind = 'employee.last_father_name ')
        span &nbsp;
        span( ng-bind = 'employee.last_mother_name')
        br
        small( ng-bind = 'employee.username' )
      .col-md-10.profile-info
        .text-left
          h4
            span.glyphicon.glyphicon-briefcase
            span &nbsp;
            span( ng-bind = 'employee.profile.employment' )
          h4
            span.glyphicon.glyphicon-home
            span &nbsp;
            span( ng-bind = 'employee.profile.department' )
          h4
            span.glyphicon.glyphicon-envelope
            span &nbsp;
            span( ng-bind = 'employee.mail' )
          h4
            span.glyphicon.glyphicon-earphone 
            span &nbsp;
            span( ng-bind = 'employee.phone' )
    .col-md-9
      ul.nav.nav-tabs
        li.active
            a(href='#personal', data-toggle='tab') Personal
        li
          a(href='#formation', data-toggle='tab') Formación
        li
          a(href='#performance', data-toggle='tab') Desempeño
        li
          a(href='#health', data-toggle='tab') Salud
        
      .tab-content
        #personal.tab-pane.fade.in.active
          include tabs/personal
        #formation.tab-pane.fade
          include tabs/formation
        #performance.tab-pane.fade
          include tabs/performance
        #health.tab-pane.fade
          include tabs/health