extends ../organizational_structure_layout

block custom-stylesheets
  link(href='/stylesheets/own/interactive_tree.css', rel='stylesheet', type='text/css')

block content
  div( ng-app = 'organizationalStructureApp', ng-controller = controller )
    #chart