extends ../../layout

block custom-stylesheets
  link(rel='stylesheet', href='/stylesheets/own/responsive-table.css')

block main-navbar
  include ../../navbars/organizational_structure_navbar

block content
  .col-md-12( ng-app = 'organizationalStructureApp', ng-controller = controller )
    .form-search
      a( data-toggle = 'modal', href = '#newEmployment' )
        span.lead.strong.glyphicon.glyphicon-plus
      .input-group.col-lg-3.pull-right
        span.input-group-addon
          span.glyphicon.glyphicon-search
        input.form-control.input( ng-model = 'query' )

    table.table-striped
      thead
        tr
          th Puesto
          th Departamento
      tbody
        tr( ng-repeat = 'employment in employments | filter:query' )
          td( ng-bind = 'employment.name' )
          td( ng-bind = 'employment.department' )

    #newEmployment.modal.fade( tabindex='-1', role='dialog', aria-hidden='true' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Nuevo Puesto
          .modal-body
            include ../forms/new_employment_form
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal' ,
              aria-hidden="true") Cancelar

block custom-scripts
  script(src='/javascripts/own/services/employeeServices.js')
  script(src='/javascripts/own/services/employmentsServices.js')
  script(src='/javascripts/own/services/employmentsTreeServices.js')
  script(src='/javascripts/own/services/usersServices.js')

  script(src='/javascripts/own/controllers/departmentsController.js')
  script(src='/javascripts/own/controllers/employmentsController.js')
  script(src='/javascripts/own/controllers/employmentsTreeController.js')
  script(src='/javascripts/own/controllers/talentController.js')
  script(src='/javascripts/own/controllers/talentProfileController.js')

  script(src='/javascripts/own/apps/organizationalStructureApp.js')