extends ../organizational_structure_layout

block custom-stylesheets
  link(rel='stylesheet', href='/stylesheets/own/responsive-table.css')
  link(rel='stylesheet', href='/stylesheets/own/talent_management.css')

block content
  .col-md-12( ng-app = 'organizationalStructureApp', ng-controller = controller )
    .form-search
      a( data-toggle = 'modal', href = '#newEmployment' )
        span.lead.strong.glyphicon.glyphicon-plus
      .input-group.col-lg-3.pull-right
        span.input-group-addon 
          span.glyphicon.glyphicon-search
        input.form-control.input( ng-model = 'query' )

    table.table-striped
      thead
        tr
          th Puesto
          th Departamento
      tbody
        tr( ng-repeat = 'employment in employments | filter:query' )
          td( ng-bind = 'employment.name' )
          td( ng-bind = 'employment.department' )

    #newEmployment.modal.fade( tabindex='-1', role='dialog', aria-hidden='true' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Nuevo Talento
          .modal-body
            include ../forms/new_employment_form
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal' ,
              aria-hidden="true")
              | Cancelar

    #employeePreview.modal.fade( tabindex='-1', role='dialog', aria-hidden='true' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title
              span( ng-bind = 'modal.name' )
              span &nbsp;
              span( ng-bind = 'modal.last_father_name ')
              span &nbsp;
              span( ng-bind = 'modal.last_mother_name')
              span &nbsp;
              small
                span( ng-bind = 'modal.username' )
          .modal-body
            .col-md-3
              img.img-rounded.profile-pic(src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120")
            .col-md-5.text-center
              h1 ¿?
            .col-md-4
              h6
                span.glyphicon.glyphicon-briefcase
                span &nbsp;
                span( ng-bind = 'modal.profile.employment' )
              h6
                span.glyphicon.glyphicon-home
                span &nbsp;
                span( ng-bind = 'modal.profile.department' )
              h6
                span.glyphicon.glyphicon-envelope
                span &nbsp;
                span( ng-bind = 'modal.mail' )
              h6
                span.glyphicon.glyphicon-earphone 
                span &nbsp;
                span( ng-bind = 'modal.phone' )
            .clearfix
          .modal-footer
            a.btn.btn-info( 
              href = '/organizational_structure/talent_management/{{modal.username}}' )
              |Perfil avanzado
            button.btn.btn-danger(type='button', data-dismiss='modal' , 
              aria-hidden="true") Cerrar