extends ../layout

block custom-stylesheets

block main-navbar
  include ../navbars/organizational_structure_navbar

block content

block custom-scripts
  script(src='/javascripts/vendor/d3/d3.min.js', charset='utf-8')
  script(src='/javascripts/own/services/departmentsServices.js')
  script(src='/javascripts/own/services/employeeServices.js')
  script(src='/javascripts/own/services/employmentsServices.js')
  script(src='/javascripts/own/services/employmentsTreeServices.js')
  script(src='/javascripts/own/services/usersServices.js')

  script(src='/javascripts/own/controllers/departmentsController.js')
  script(src='/javascripts/own/controllers/departmentsChartController.js')
  script(src='/javascripts/own/controllers/employmentsController.js')
  script(src='/javascripts/own/controllers/employmentsTreeController.js')
  script(src='/javascripts/own/controllers/talentController.js')
  script(src='/javascripts/own/controllers/talentProfileController.js')

  script(src='/javascripts/own/apps/organizationalStructureApp.js')