extends ../layout

block custom-stylesheets
  link(rel='stylesheet', href='/stylesheets/own/responsive-table.css')
  link(rel='stylesheet', href='/stylesheets/own/talent_management.css')

block main-navbar
  include ../navbars/organizational_structure_navbar

block content
  .col-md-12( ng-app = 'talentApp', ng-controller = controller )
    a( data-toggle = 'modal', href = '#newEmployee' )
      span.glyphicon.glyphicon-search
    .form-search.text-right
      .input-group.col-lg-3.pull-right
        span.input-group-addon 
          span.glyphicon.glyphicon-search
        input.form-control.input( ng-model = 'query' )

    table.table-striped
      thead
        tr
          th Nombre
          th Departamento
          th Puesto
          th 
            span.glyphicon.glyphicon-user
      tbody
        tr( ng-repeat = 'employee in employees | filter:query' )
          td( ng-bind = 'employee.name' )
          td( ng-bind = 'employee.department' )
          td( ng-bind = 'employee.employment' )
          td.launch-modal-preview
            a( data-toggle='modal', href='#employeePreview',
              ng-click = 'talentPreview()' )
              span.glyphicon.glyphicon-user

    #newEmployee.modal.fade( tabindex='-1', role='dialog', aria-hidden='true' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Nuevo Talento
          .modal-body
            include forms/new_employee_form
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal' ,
              aria-hidden="true")
              | Cancelar

    #employeePreview.modal.fade( tabindex='-1', role='dialog', aria-hidden='true' )
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title 
            .modal-body
            .modal-footer
              button.btn(type='button', data-dismiss='modal' , aria-hidden="true") Close

block custom-scripts
  script(src='/javascripts/own/services/talentServices.js')
  script(src='/javascripts/own/controllers/talentControllers.js')