.navbar
    .navbar-inner
      a.brand(href='#') Title
      ul.nav
        li.active
          a(href='/organizational_structure/talent_management') Estructura Organizacional
        li
          a(href='') Procesos 
        li
          a(href='') Documentación
        li
          a(href='/control_panel') Panel de control
        li
          a(href='/tasks/tasks') Tareas y pendientes
        li
          a(href='/forms_generator/custom_form') Formularios

