extends ../layout

block custom-stylesheets

block main-navbar
  include ../navbars/extras_navbar

block content
  .col-md-12( ng-app = 'emailApp' )
    .col-md-11.main-wrapper
      .col-md-6
          form( ng-controller = controller, name = 'newMailForm' )
            br
            span.input-group-addon Destinatario
              input.form-input.form-control( ng-model = 'mail.to', type = 'text',
                placeholder = 'Correo destinatario', name = 'to' required)
            .label.label-danger.pull-right(
              ng-show = 'newMailForm.to.$invalid && newMailForm.to.$dirty')
              small(ng-show='newMailForm.to.$error.required') Introduzca un valor valido
            br
            span.input-group-addon Tema del Mensaje
              input.form-input.form-control( ng-model = 'mail.subject', type = 'text',
                placeholder = 'Correo destinatario', name = 'subject' required)
            .label.label-danger.pull-right(
              ng-show = 'newMailForm.subject.$invalid && newMailForm.subject.$dirty')
              small(ng-show='newMailForm.subject.$error.required') Introduzca un valor valido
            br
            span.input-group-addon Mensaje
            textarea.form-control( ng-model = 'mail.message', name = 'message'
            rows="10", placeholder = 'Correo destinatario', required)
            .label.label-danger.pull-right(
              ng-show = 'newMailForm.message.$invalid && newMailForm.message.$dirty')
              small(ng-show='newMailForm.message.$error.required') Introduzca un valor valido


            button.btn.btn-block.btn-primary( ng-click = 'newMail()', 
              ng-disabled = 'newMailForm.$invalid') Enviar correo
block custom-scripts
  script( src='/javascripts/own/controllers/sendMailController.js')